version: "3.9"

services:
  main-harvester:
    image: ghcr.io/zkbob/bob-stat-harvester:${RELAYER_IMAGE:-latest}
    container_name: main-harvester
    environment:
        - MEASUREMENTS_INTERVAL=7170
        - SNAPSHOT_DIR=snapshots
        - TSDB_DIR=tsdb
        - FEEDING_SERVICE_URL=https://where.bob-circulating-supply.deployed
        - FEEDING_SERVICE_PATH=/bobstat/upload
        - FEEDING_SERVICE_HEALTH_PATH=/health
        - FEEDING_SERVICE_UPLOAD_TOKEN=@uth70ken
    volumes:
        - ./token-deployments-info.json:/app/token-deployments-info.json
        - ./snapshots:/app/snapshots
        - ./tsdb:/app/tsdb
    restart: unless-stopped
    logging:
        driver: "json-file"
        options:
            max-size: "10m"
            max-file: "1"
  bobvault-harvester:
    image: ghcr.io/zkbob/bob-stat-harvester:${RELAYER_IMAGE:-latest}
    entrypoint: ["python", "bobvault-trades.py"]
    container_name: bobvault-harvester
    environment:
        - CHAIN_SELECTOR=bsc,pol,eth,opt,arb1
        - MEASUREMENTS_INTERVAL=900
        - SNAPSHOT_DIR=snapshots
        - TSDB_DIR=tsdb
        - FEEDING_SERVICE_URL=https://where.bob-circulating-supply.deployed
        - FEEDING_SERVICE_HEALTH_PATH=/health
        - FEEDING_SERVICE_UPLOAD_TOKEN=@uth70ken
    volumes:
        - ./token-deployments-info.json:/app/token-deployments-info.json
        - ./snapshots:/app/snapshots
        - ./tsdb:/app/tsdb
    restart: unless-stopped
    logging:
        driver: "json-file"
        options:
            max-size: "10m"
            max-file: "1"
  balances-indexer:
    image: ghcr.io/zkbob/bob-balances-indexer:${RELAYER_IMAGE:-latest}
    container_name: balances-indexer
    environment:
        - DEFAULT_MEASUREMENTS_INTERVAL=1
        - SNAPSHOT_DIR=snapshots
        - TSDB_DIR=tsdb
    volumes:
        - ./token-deployments-info.json:/app/token-deployments-info.json
        - ./snapshots:/app/snapshots
        - ./tsdb:/app/tsdb
    restart: unless-stopped
    logging:
        driver: "json-file"
        options:
            max-size: "10m"
            max-file: "1"
