{
  "chains":{
    "bsc":{
      "name":"BNB Smart Chain",
      "finalization": 100,
      "events_pull_interval": 600,
      "rpc":{
        "url":"https://rpc.ankr.com/bsc"
      },
      "inventories":[
        {
          "protocol":"KyberSwap Elastic",
          "pos_manager":"0x2b1c7b41f6a8f2b2bc45c3233a5d5fb3cd6dc9a8",
          "owner":"0xd4a3D9Ca00fa1fD8833D560F9217458E61c446d8"
        }
      ],
      "token":{
        "start_block":"22709943"
      }
    },
    "pol":{
      "name":"Polygon",
      "finalization": 100,
      "events_pull_interval": 600,
      "rpc":{
        "url":"https://polygon-rpc.com"
      },
      "inventories":[
        {
          "protocol":"UniswapV3",
          "pos_manager":"0xC36442b4a4522E871399CD717aBDD847Ab11FE88",
          "owner":"0xd4a3D9Ca00fa1fD8833D560F9217458E61c446d8"
        },
        {
          "protocol":"BobVault",
          "address":"0x25e6505297b44f4817538fb2d91b88e1cf841b54"
        }
      ],
      "token":{
        "start_block":"32845237"
      }
    },
    "eth":{
      "name":"Mainnet",
      "finalization": 32,
      "events_pull_interval": 900,
      "rpc":{
        "url":"https://mainnet.infura.io/v3/..."
      },
      "inventories":[
        {
          "protocol":"UniswapV3",
          "pos_manager":"0xC36442b4a4522E871399CD717aBDD847Ab11FE88",
          "owner":"0xd4a3D9Ca00fa1fD8833D560F9217458E61c446d8"
        }
      ],
      "token":{
        "start_block":"15626757"
      }
    },
    "opt":{
      "name":"Optimism",
      "finalization": 32,
      "events_pull_interval": 300,
      "rpc":{
        "url":"https://rpc.ankr.com/optimism"
      },
      "inventories":[
        {
          "protocol":"UniswapV3",
          "pos_manager":"0xC36442b4a4522E871399CD717aBDD847Ab11FE88",
          "owner":"0x14fc6a1a996A2EB889cF86e5c8cD17323bC85290"
        }
      ],
      "token":{
        "start_block":"27627099"
      }
    }
  }
}